page-login {

}
button{
  width: 100%;
}

.buttons{
  width: 80%;
  min-width: 0px;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
a{
  font-size: 15px;
}
p{
  margin-left: 10%;
}
img{
  height: 40%;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}
input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;

}

.labels{
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  min-width: 0px;
}